html,body{
	
height:100%;
min-height:100%; 
width:100%
min-width:100%;
}

#header{
	
	position:fixed;
	height:70px;
	width:100%;
	background-color:#334185;
}

#container{
	
	position:absolute;
	height: 100%;
	width:  100%;
}

#logo
{
	position:absolute;
	float:left;
	height: 100%;
	width:  140px;
	
}

#logopic{
	
	margin-top:15px;
	margin-left:20px;
	height:40px;
	width:80px;

}

#search{
	
	margin-left:140px;
	position:absolute;
	height:100%;
	width:600px;
	
}

#searchbar{
	
	width:80%;
	margin-top:25px;
	
}

#searchbutton{

}

#actions{
	
	position:absolute;
	height:100%;
	width:550px;
	margin-left:740px;
}

#notifications{
	
	float:left;
	height:100%;
	width:65%;
	
}
#log_sign{
	
	float:right;
	height:100%;
	width:35%;
}

#login{
	
	float:left;
	margin-top:20px;
	height:30px;
	width:50%;
}

#signup{
	
	float:right;
	margin-top:20px;
	height:30px;
	width:50%;
	
}